body{
    background: url(img/texture2.jpg) repeat;
}

.container{
    position: relative;
}

@font-face 
{
    font-family: 'Western-Bang-Bang';
    src: url('Western%20Bang%20Bang.ttf');
}

/******************************/
/************* about **********/
/******************************/
#about{
    background: url(img/wood_3.jpg);
    background-size: auto 100%; 
    box-shadow: 0px 0px 5px 10px black;
    color: black;
    text-align: center;
    position: relative;
    overflow: hidden;
}

#about img {
    margin: 0px auto;
}


.poster {
    background: url(img/wanted-poster.png) no-repeat;
    background-size: 100% 100%;
    padding: 10px;
    margin: 30px 0px;
    transform: rotate(-2deg);
    font-family: 'Western-Bang-Bang', Impact;
    font-size: 14px;
    cursor: pointer;
}

.poster img {
    width: 80%; 
    height: auto; 
    filter: sepia(1);
    //transition: all 0.2s;
}

.poster img:hover {
    filter: sepia(0);
}

.poster h2 {
    font-size: 6em;
    margin: 0 0 -20px;
}

.poster h3 {
    font-size: 3.5em;
    margin: 0;
}

.poster h4 {
    font-size: 2em;
    margin: 0;
}

.poster p{
    font-family: impact, serif;
    padding: 0px 3%;
    font-size: .65em;
}

.font-for-sm {
    font-size: 18px;
}

.zoom {
    font-size: 2em;
    padding: 20px;
    width: 80%;
    min-width: 300px !important;
    margin: auto;
}

.about-zoom {
    height: auto !important;
    background: url(img/wood_3.jpg);
    background-size: 100% 100% !important;
    box-shadow: 0px 0px 5px 10px black;
    padding: 50px;
}

.arrow {
    background: url(img/arrow.png);
    background-position: center top;
    background-size: 100% 100%;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: -60px;
    left: 0%;
    padding: 15px;
    text-align: center;
}

.arrow-rotate{
    transform: rotate(-3deg);
    cursor: pointer;
}

.arrow p{
    margin: 0;
    padding: 0;
}

/*******************************************/
/************** Portfolio ******************/
/*******************************************/
#portfolio {
    position: relative;
    
}

#portfolio h1 {
    background: url(img/wood_4.jpg);
    background-size: 100% 100%; 
    box-shadow: 5px 0px 5px 5px black;
    text-align: center;
    margin: 0;
    padding: 20px;
    cursor: pointer;
    
}

#portfolio .projects {
    height: 100%;
    background: url(img/rope.png) repeat-y local;
    background-position: center 0%; 
    padding: 20px 0;
}

.overflow-scroll {
    overflow-y: scroll;
}

.project {
    background: url(img/wanted-poster.png) no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    margin: 50px 2%;
    padding: 20px 30px;
    font-size: 18px;
    color: black;
    text-shadow: 0px 0px 3px black;
    text-align: justify;
}

.project h2 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.project img {
    float: left;
    margin: 0px 20px 10px 0px;
    filter: sepia(1);
    transition: all 0.5s;
}

.project img:hover {
    filter: sepia(0);
}

.project a, .project a:hover, .project a:visited {
    color: silver;
    font-size: 25px;
    margin: 0;
    text-decoration: none;
}

.project p a:hover span {
    color: green ;
}
.project p a:hover {
    color: red;
}
.center {
    text-align: center;
    padding: 5px 0;
}

#noose {
    transform-origin: 50% 0;
    animation: swing 3s ease 0s infinite;
    position: absolute;
    right: -5%;
}

@keyframes swing
{
    0%, 100% { transform: rotate(1deg); }
    50% { transform: rotate(-2deg); }
}

@media (max-width: 768px){
    .poster {
        font-size: 4vw;
    }
    
    .poster p{
        font-size: 14px !important;
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    .poster p{
        font-size:1em;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .poster p{
        font-size:0.8em;
    }
    .poster h3{
        font-size: 3em;
    }
}


@media (min-width: 1200px){
    .poster p{
        font-size:0.8em;
    }
}
